header {
  background: #1877f2;
}
header .navbar {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

header .navbar .links {
  background-color: #1877f2;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}

.navbar button {
  color: white;
  font-weight: bold;
  font-size: 16px;
}